run = ["bash","main.sh"]
entrypoint = "README.md"

[nix]
channel="stable-21_11"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages.nodejs]
pattern = "**/*.js"
syntax = "nodejs"

[languages.nodejs.languageServer]
start = [ "typescript-language-server", "--stdio" ]
